name: Secret Scan

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Scan for secrets
        uses: trufflesecurity/trufflehog@v3.63.6
        with:
          path: .
          extra_args: --only-verified
